SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/sathwikflow?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=sathwikflow
SPRING_DATASOURCE_PASSWORD=sathwikflow
SPRING_MAIL_HOST=localhost
SPRING_MAIL_PORT=1025
SATHWIKFLOW_SECURITY_ALLOWED_ORIGINS_0=http://localhost:5173
SATHWIKFLOW_SECURITY_COOKIE_SECURE=false

